.canvas{
    width: 500px;
    background-color: brown;
    height: 600px;
    padding: 1px;
    overflow: hidden;
}
.frame{
    border: 50px solid black;
    width:500px;
    padding: 50px;
    margin: 20px auto;
}
.one{
    width:425px;
    height: 150px;
    background-color: blue;
    margin: 20px auto;
    box-shadow: 0 0 3px 3px darkgoldenrod;
    border-radius: 30px;
    transform: rotate(-0.7deg);
}
.two{
    width:475px;
    height: 200px;
    background-color:darkgoldenrod;
    margin: 0 auto;
    margin-bottom: 20px;
    box-shadow: 0 0 3px 3px greenyellow;
    border-radius: 50px 25px 50px 25px;
    transform: rotate(0.8deg);
}
.three{
    width: 91%;
    height: 28%;
    background-color: greenyellow;
    margin: auto;
    filter: blur(3px);
    box-shadow: 0 0 5px 5px blue;
    border-radius: 30px 30px 10px 50px;
    transform: rotate(0.7deg);
}
.one, .two{
    filter: blur(2px);
}